/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/01/2019, 4:43:47
    Author     : ronal
*/

.cards{
    -fx-background-color: #1E8449;
    
}
 
pilePlayer{
    -fx-background-color: #1E8449;
    
}

pileComputer{
    -fx-background-color: #1E8449;
    
}
 
 .button{
     
     -fx-background-color: #1E8449;
     
 }